extends layout

block content
  //- nav
  //-   div.flex.justify
  //-     h2 Flights
  //-     h2 Statistics
  header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          ul.nav.navbar-nav
            li.active
              a(href= "/").text-uppercase Flights
            li
              a(href= "/statistics").text-uppercase Statistics
  div.main.container
    div.row
      div.col-md-3.text-center
        a(href= "/f/arrivals")
          button.btn.btn-primary.text-uppercase Arrivals
      div.col-md-3.text-center
        a(href= "/f/departures")
          button.btn.btn-primary.text-uppercase Departures
    if empty
      h2 Engin flug fundust!
    else
      div.row
        div.col-md-6.schedule
          div.row.text-center
            h1= title
          div.row
            h5.col-md-3
              b Date
            h5.col-md-2
              b Flight number
            if type == "arrivals"
              h5.col-md-3
                b From
              h5.col-md-2
                b Planned arrival
            else
              h5.col-md-3
                b To
              h5.col-md-2
                b Planned Departure
            h5.col-md-2
              b Status
          each val in schedule
            div.row
              h4.col-md-3= val.date
              h4.col-md-2= val.flightNumber
              if type == "arrivals"
                h4.col-md-3= val.from
              else
                h4.col-md-3= val.to
              h4.col-md-2= val.plannedArrival
              h4.col-md-2= val.realArrival
        div.col-md-6.iframe#iframe
          h4.text-center Only showing in/outbound flights from Keflavík
          iframe(src="https://www.flightradar24.com/simple?lat=63.80&lon=-21.00&z=7&airports=1&airport_filter=KEF:inout" width="600" height="450")
