extends layout

block content
  header
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div
          button(data-toggle="collapse" data-target="#navbar").navbar-toggle.collapsed
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        div.collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li.active
              a(href= "/").text-uppercase Flights
            li
              a(href= "/statistics").text-uppercase Statistics
          ul.nav.navbar-nav.navbar-right
            li
              a(href= "/about").text-uppercase About
  div.main.container
    div.row
      div.col-md-3.text-center
        a(href= "/f/arrivals")
          button.btn.btn-primary.text-uppercase.arrDepButtons.arrButton Arrivals
      div.col-md-3.text-center
        a(href= "/f/departures")
          button.btn.btn-primary.text-uppercase.arrDepButtons Departures
    if empty
      h2 Engin flug fundust!
    else
      div.row
        div.col-md-6
          div.row.text-center
            h1= title
          div.table-responsive
            table.table.table-striped
              tr
                th Date
                th Flight number
                if type == "arrivals"
                  th From
                  th Planned arrival
                else
                  th To
                  th Planned Departure
                th Status
              each val in schedule
                tr
                  td= val.date
                  td= val.flightNumber
                  if type == "arrivals"
                    td= val.from
                  else
                    td= val.to
                  td= val.plannedArrival
                  td= val.realArrival
        div.col-md-6.iframe#iframe
          h4.text-center Only showing in/outbound flights to/from Keflavík
          iframe(src="https://www.flightradar24.com/simple?lat=63.80&lon=-21.00&z=7&airports=1&airport_filter=KEF:inout" width="600" height="450")
